# MATLAB autosaves
*.asv
.~lock.*#

# Compiled files
*.mex*
*.mat
*.md

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
config/paper_paths_local.m

# Outputs (IMPORTANT)
outputs/
results/
figures/
tmp/
logs/
derived/
tools/tmp/
tools/

# Large data
data/raw/
data/processed/

# Python leftovers
__pycache__/
*.pyc
